/*********************************************************************
GENERAL
**********************************************************************/
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

:focus {
  outline-color: #f26843;
}

input:not([type="submit"]):hover,
textarea:focus {
  border: 2px solid #c7c6c5;
}

input:not([type="submit"]):focus,
textarea:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

img {
  width: 100%;
  height: auto;
}

.centerer {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-page {
  min-width: 900px;
  background-image: url("../img/slide_1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-page::before,
.main-page::after {
  content: "";

  visibility: hidden;
}

.main-page::before {
  background-image: url("../img/slide_2.png");
}

.main-page::after {
  background-image: url("../img/slide_3.png");
}

.catalog-page {
  min-width: 900px;
  background-color: #849d8f;
  background-image: linear-gradient(to bottom, #9db1a5 0%, #849d8f 40%);
}

.content-container {
  box-sizing: border-box;
  padding: 0 2.2%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
}

.popup {
  position: absolute;
  top: 100%;
  z-index: 100;

  padding-top: 5px;

  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.popup--left-aligned {
  left: 0;
}

.popup--right-aligned {
  right: 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link--light {
  color: #ffffff;
  text-decoration: underline;

  text-decoration-color: #a9bbb1;
}

.link--light:hover,
.link--light:active,
.link--light:focus {
  color: #ffbc9e;

  text-decoration-color: #a7a294;
}

.link--dark {
  color: #323232;
  text-decoration: underline;

  text-decoration-color: #b2b2b2;
}

.link--dark:hover,
.link--dark:active,
.link--dark:focus {
  color: #e84d37;

  text-decoration-color: #f9cdc4;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.button-cancel {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.form {
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.form__input {
  width: 220px;
  margin: 10px 0;
  padding: 10px;

  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

/*********************************************************************
PAGE HEADER
**********************************************************************/

.page-header {
  padding-top: 8px;
}

.menu {
  position: relative;

  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 0;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  padding-left: 1px;
}

.navigation {
  flex-grow: 1;
  margin-right: 10px;
}

.user-action {
  flex-grow: 0;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.navigation__item {
  position: relative;
  z-index: 10;

  padding: 8px 0;

  border-radius: 20px;
}

.navigation__link {
  padding: 8px 14px;

  border-radius: 20px;
}

.navigation__link--current {
  background-color: #d07058;
  border-bottom: none;
}

.navigation__label {
  border-bottom: 1px solid #adbdb4;
}

.navigation__item:hover .popup {
  visibility: visible;
}

.navigation__item:hover .navigation__link:not(.navigation__link--current) {
  background-color: #f7f6f3;
}

.navigation__item:hover .navigation__label:not(.navigation__label--current) {
  color: #333333;

  border-bottom: none;
}

.navigation__link:not(.navigation__link--current):active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.submenu {
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.submenu__item {
  margin-top: 4px;
  margin-bottom: 4px;

  vertical-align: middle;
}

.submenu__item:first-child {
  margin-top: 0;

  border-radius: 5px 5px 0 0;
}

.submenu__item:last-child {
  margin-bottom: 0;

  border-radius: 0 0 5px 5px;
}

.submenu__item--current {
  background-color: #d07058;
}

.submenu__link {
  display: block;
  margin: 0 5px;
  padding: 7px 15px 4px 15px;

  color: #323232;
  white-space: nowrap;
}

.submenu__link--important {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.submenu__link:last-child {
  padding-bottom: 10px;
}

.submenu__link--current {
  color: #ffffff;
}

.submenu__item:not(.submenu__item--current):hover {
  background-color: #fbded8;
}

.submenu__item:not(.submenu__item--current):active {
  background-color: #f6b5a5;
}

.user-action__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-action__item {
  position: relative;

  margin-left: 10px;

  vertical-align: middle;
}

.user-action__link {
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.search__link {
  display: block;
  padding: 7px 8px 5px 8px;
}

.auth__link {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 16px;
}

.order__link {
  display: flex;
  align-items: center;
  padding: 6px 19px 6px 16px;
}

.auth__link::after {
  content: "Вход";

  padding-left: 6px;
}

.order__link--full {
  color: #323232;

  background-color: #f7f6f3;
}

.order__link--empty::after {
  content: "Пусто";

  padding-left: 6px;
}

.order__link--full::after {
  content: "2 товара";

  padding-left: 10px;
}

.search__icon,
.auth__icon {
  fill: #ffffff;
}

.user-action__item:not(.order__link--empty):hover .popup {
  visibility: visible;
}

.user-action__item:not(.order__link--empty):hover .user-action__link {
  color: #323232;

  background-color: #f7f6f3;
}

.user-action__item:hover .search__icon,
.user-action__item:hover .auth__icon,
.user-action__item:hover .order__icon--stroke {
  fill: #343434;
}

.order__link--full .order__icon--stroke {
  fill: #343434;
}

.order__link--full .order__icon--fill {
  fill: #e84d37;
}

.order__link--empty .order__icon--stroke {
  fill: #ffffff;
}

.order__link--empty .order__icon--fill {
  fill: transparent;
}

.form__input--search {
  width: 300px;
}

.auth__submit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.auth__submit-button {
  padding-right: 25px;
  padding-left: 25px;

  border-radius: 25px;
}

.auth__help-wrapper {
  vertical-align: center;
}

.auth__help-link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;

  font-size: 13px;
  line-height: 24px;
}

.order__wrapper {
  z-index: 100;

  padding: 10px 15px 20px 15px;

  text-align: right;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.order__table {
  border-bottom: 1px solid #cacac7;
}

.order__item {
  height: 50px;

  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.order__cancel {
  padding-right: 10px;
}

.order__button--cancel {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.order__button--cancel::before,
.order__button--cancel::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #231f20;
}

.order__button--cancel::before {
  transform: rotate(45deg);
}

.order__button--cancel::after {
  transform: rotate(-45deg);
}

.order__image {
  width: 33px;
  height: 33px;
  padding-right: 10px;

  vertical-align: center;
}

.order__name {
  min-width: 218px;
  padding-right: 25px;

  word-wrap: break-word;
}

.order__weight {
  min-width: 100px;
  padding-right: 20px;
}

.order__extra {
  color: #999999;
}

.order__price {
  min-width: 50px;
  padding-right: 15px;
}

.order__total {
  padding: 15px 0 15px 0;
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.menu__extra {
  position: absolute;
  top: 64px;
  right: 0;

  width: 170px;
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.menu__extra .open-hours {
  margin: 0 0 5px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.menu__extra .phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

/*********************************************************************
SLIDER
**********************************************************************/
.slider {
  position: relative;
  z-index: 1;

  margin-bottom: 42px;
  padding-top: 319px;

  text-align: center;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: none;
}

.slider__lead {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider__link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 42px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider__controls {
  position: absolute;
  bottom: 20px;

  text-align: center;
}

.slider__control {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin: 0 2px;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider__control:hover {
  background-color: #b2c1b7;
}

.slider__control:active {
  background-color: #ffffff;
}

.slider-switcher {
  display: none;
}

#slider-radio-1:checked ~ .main-page {
  background-color: #849d8f;
  background-image: url("../img/slide_1.png");
}

#slider-radio-2:checked ~ .main-page {
  background-color: #8996a6;
  background-image: url("../img/slide_2.png");
}

#slider-radio-3:checked ~ .main-page {
  background-color: #9d8b84;
  background-image: url("../img/slide_3.png");
}

#slider-radio-1:checked ~ .main-page .slider #slide-1,
#slider-radio-2:checked ~ .main-page .slider #slide-2,
#slider-radio-3:checked ~ .main-page .slider #slide-3 {
  display: block;
}

#slider-radio-1:checked ~ .main-page .slider .slider__control[for="slider-radio-1"],
#slider-radio-2:checked ~ .main-page .slider .slider__control[for="slider-radio-2"],
#slider-radio-3:checked ~ .main-page .slider .slider__control[for="slider-radio-3"] {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 20px;
}

.promo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  display: flex;
  flex-direction: column;
  width: 45.5%;
  padding: 16px 19px 23px 19px;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 15px;
}

.promo__item:nth-child(odd) {
  margin-right: 2%;
}

.promo__item--raspberry {
  background-color: #a7203b;
  background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
  background-color: #6e422a;
  background-image: url("../img/chocolate.jpg");
}

.promo__title {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  min-height: 66px;
  margin-top: 15px;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo__link {
  display: block;
  align-self: flex-end;
  padding: 10px 24px 12px 23px;
}

.popular__list,
.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 23.3%;
  margin-bottom: 38px;

  text-align: center;
}

.product__item::before {
  content: "";
  position: absolute;
  top: -2%;
  left: -5%;

  width: 110%;
  height: 126%;

  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.product__item:hover.product__item::before {
  visibility: visible;
  z-index: 1;
}

.product__item:hover .product__container {
  z-index: 1;
}

.product__item:hover .product__button {
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.product__item:hover .product__name {
  z-index: 2;
}

.product__button {
  position: absolute;
  top: 104%;
  left: 50%;

  display: none;
  width: 200px;
  padding: 10px 10px;

  transform: translateX(-50%);
}

.product__container {
  position: relative;

  margin-bottom: 7px;
}

.product__container--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: #ffffff url("../img/hit.svg") no-repeat center;
  border-radius: 50%;
}

.product__image {
  width: 100%;
  border-radius: 50%;
}

.product__price {
  position: absolute;
  bottom: 13px;
  left: 0;

  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product__currency {
  padding-left: 5px;

  font-weight: 500;
}

.product__unit {
  font-size: 30px;
}

.product__name {
  margin: 0;
  padding: 0;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.about {
  margin-bottom: 40px;
  padding: 25px 20px 2px 20px;

  color: #323232;

  background: #eee0c4 url("../img/waffle.jpg") repeat center;
  border-radius: 15px;
}

.about__title {
  margin: 0 0 20px 0;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature__item {
  position: relative;

  box-sizing: border-box;
  width: 49%;
  padding-bottom: 22px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
}

.feature__item:nth-child(odd) {
  margin-right: 2%;
}

.feature__item:nth-child(even) {
  padding-left: 59px;
}

.feature__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;
}

.feature__item--ice-cream::before {
  background: url("../img/ice_cream.svg") no-repeat;
}

.feature__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.feature__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.feature__item--thermo::before {
  background: url("../img/thermometer.svg") no-repeat;
}

.blog {
  display: flex;
  justify-content: space-between;
  height: 220px;
  margin-bottom: 40px;
}

.news,
.subscribe {
  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}

.news {
  margin-right: 13px;

  background-image: url("../img/strawberry.jpg");
}

.new__wrapper {
  width: 290px;
  margin: 18px 20px;
}

.new__subtitle {
  margin: 5px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.8);

  text-decoration-color: #353535;
}

.subscribe {
  margin-left: 13px;

  background-image: url("../img/bg-post.svg");
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 210px;
  margin: 5px;
  padding: 29px 20px 35px 22px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe__info {
  margin: 0 0 37px 0;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input--subscribe {
  flex-grow: 1;
  margin: 0 10px 0 0;
  padding: 9px 13px 10px 13px;

  font-size: 16px;
  line-height: 24px;
}

.button--subscribe {
  padding: 9px 20px 12px 20px;
}

.map {
  position: relative;
  margin: 20px 0 17px 0;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  background: url("../img/map.png") no-repeat center;
  z-index: 1;
}

.contacts-centerer {
  position: relative;
  min-height: 430px;
}

.contacts {
  position: absolute;
  width: 260px;
  padding: 20px 21px;
  right: 2.2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.contacts__address {
  margin: 7px 4px 17px 4px;
}

.contacts__phone {
  margin: 0 4px 25px 4px;
}

.contacts__desc {
  margin: 0 0 2px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__phone-extra {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__phone-desc {
  margin: 0 0 4px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__data {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone-data {
  margin: 0 0 2px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.feedback {
  text-align: center;
}

.feedback__button--open {
  padding: 9px 27px 10px 27px;

  margin-bottom: 10px;
}

.feedback__button--close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.feedback__button--close::before,
.feedback__button--close::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -2px;

  width: 21px;
  height: 2px;

  background-color: #231f20;
}

.feedback__button--close::before {
  transform: rotate(45deg);
}

.feedback__button--close::after {
  transform: rotate(-45deg);
}

.feedback__button--submit {
  align-self: flex-end;
}

.modal {
  display: none;
}

.modal-show {
  display: flex;
}

.feedback__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px 26px 25px 26px;
  width: 426px;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.overlay-show {
  display: block;
}

.feedback__lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  width: 410px;
  color: #323232;
}

.feedback__input {
  align-self: flex-start;
  font-size: 16px;
  line-height: 24px;
  width: 238px;
  padding: 9px 14px;
}

.feedback__textarea {
  font-size: 16px;
  line-height: 24px;
  width: auto;
  height: 135px;
  padding: 9px 14px;
  margin-bottom: 25px;
}

.page-footer {
  padding-bottom: 30px;
}

.page-footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  width: 190px;
}

.info {
  width: 310px;
}

.copyright {
  width: 190px;

  font-size: 12px;
  line-height: 18px;
  align-self: flex-start;
}

.copyright__logo {
  width: 108px;
  height: 39px;
  margin-left: 2px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 19px 0 0 0;
  list-style: none;
}

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  margin-bottom: 11px;
  font-size: 0;

  border: 3px solid rgba(255,255,255, 0.5);
  border-radius: 50%;
}

.social__item:nth-child(4n) {
  margin-right: 0px;
}

.social__item:hover,
.social__item:active {
  border-color: rgba(255,255,255, 0.7);
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;

  color: #ffffff;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  opacity: 0.8;
}

.social__link:hover {
  opacity: 1;
}

.social__link:active {
  opacity: 0.8;
}

.social__link--twit {
  background-image: url(../img/twitter.svg);
}

.social__link--inst {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 2px 0 0 5px;
  white-space: nowrap;
  list-style: none;
}

.info__item {
  flex-basis: 46%;
}

.info__link {
  font-size: 13px;
  line-height: 18px;
}

.info__link--important {
  position: relative;

  font-weight: 700;
}

.info__link--important::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;

  width: 15px;
  height: 13px;

  background: url("../img/heart.svg") no-repeat center;
}

.copyright__link {
  display: block;
}

.copyright__text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.catalog {
  margin-bottom: 40px;
}

.catalog__title {
  margin-top: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.crumbs {
  margin-top: 26px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.crumbs__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.crumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.crumbs__item span {
  margin: 0 4px;
}

.filter {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter__group {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  padding: 0px 7px 15px 0;
  margin-top: 2px;
}

.filter__group:nth-child(3) {
  padding-right: 0;
}

.filter__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-left: 14px;
}

.filter__wrapper {
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.sort-container {
  position: relative;
}

.filter__sort {
  width: 193px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 10px 30px 9px 14px;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.sort-arrow {
  position: absolute;
  top: 13px;
  right: 15px;
}

.sort-arrow__polyline {
  fill: #ffffff;
}

.filter__sort:hover,
.filter__sort:focus {
  color: #323232;
}

.filter__sort:hover + .sort-arrow .sort-arrow__polyline,
.filter__sort:focus + .sort-arrow .sort-arrow__polyline{
  fill: #323232;
}

.filter__price {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.filter__price input {
  width: 27px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range {
  position: relative;
  padding: 16px 21px;
}

.range__scale {
  height: 4px;
  width: 176px;
  background: #cbd4cd;
}

.range__bar {
  width: 106px;
  height: 4px;
  margin-left: 15px;
  background: #f8f7f4;
}

.range__toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.range__toggle--min {
  left: 34px;
}

.range__toggle--max {
  right: 66px;
}

.filter__wrapper--fatness {
  padding: 8px 14px 10px 17px;
}

.filter__fatness {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 29px;
  margin-right: 16px;

  cursor: pointer;
}

.filter__fatness-indicator:hover,
.filter__fatness-indicator:focus {
  box-shadow: 0 0 0 3px #ffffff;
}

.filter__fatness:last-child {
  margin-right: 2px;
}

.filter__fatness-indicator {
  position: absolute;
  top: 1px;
  left: 0;

  width: 8px;
  height: 8px;
  background-color: #9db1a5;
  border: 4px solid #9db1a5;
  box-shadow: 0 0 0 3px #eef1ef;
  border-radius: 50%;
}

input[name="fatness"]:checked + .filter__fatness-indicator {
  background-color: #eef1ef;
}

input[name="fatness"]:checked + .filter__fatness-indicator:hover {
  background-color: #ffffff;
}

input[name="fatness"]:checked:disabled + .filter__fatness-indicator {
  background-color: #b5c4bc;
}

input[name="fatness"]:disabled + .filter__fatness-indicator {
  box-shadow: 0 0 0 3px #b5c4bc;
}

.filter__wrapper--topping {
  padding: 9px 14px 9px 17px;
}

.filter__topping {
  position: relative;
  padding-left: 31px;
  margin-right: 18px;
}

.filter__topping:last-child {
  margin-right: 3px;
}

.checkbox--unchecked,
.checkbox--checked {
  content: "";
  position: absolute;
  top: 0px;
  left: -2px;
  fill: #eef1ef;
}

.checkbox--checked {
  display: none;
}

.filter__topping:hover .checkbox--unchecked,
.filter__topping:focus .checkbox--unchecked,
.filter__topping:hover .checkbox--checked,
.filter__topping:focus .checkbox--checked {
  fill: #ffffff;
}

input[type="checkbox"]:disabled ~ .checkbox--unchecked,
input[type="checkbox"]:disabled ~ .checkbox--checked {
  fill: #b5c4bc;
}

input[type="checkbox"]:checked ~ .checkbox--checked {
  display: block;
}

input[type="checkbox"]:checked ~ .checkbox--unchecked {
  display: none;
}

.filter__button {
  padding: 9px 30px;
  margin: 5px 0 0 1px ;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #fbfcfb;
}

.filter__button:hover {
  color: #323232;

  background-color: #fbfcfb;
}

.filter__button:active {
  color: #323232;

  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination__list {
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  padding: 2px 8px;

  vertical-align: middle;

  border-radius: 50%;
}

.pagination__link--current {
  color: #323232;

  background-color: rgba(255,255,255,1);
}

.pagination__link:not(.pagination__link--current):hover {
  background-color: rgba(255,255,255,0.7);
}

.pagination__link:active {
  color: #323232;

  background-color: rgba(255,255,255,1.0);
}
