body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

#slider-radio-1:checked ~ .page {
  background-color: #849d8f;
}

#slider-radio-2:checked ~ .page {
  background-color: #8996a6;
}

#slider-radio-3:checked ~ .page {
  background-color: #9d8b84;
}

#slider-radio-1:checked ~ .page .slider .slider__control[for="slider-radio-1"],
#slider-radio-2:checked ~ .page .slider .slider__control[for="slider-radio-2"],
#slider-radio-3:checked ~ .page .slider .slider__control[for="slider-radio-3"] {
  background-color: #ffffff;
}

.page {
  background-color: #849d8f;
}

.page-container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  box-sizing: border-box;
  padding: 0 2.2%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
}

.popup {
  position: absolute;
  top: 100%;
  z-index: 100;

  padding-top: 5px;

  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.popup--left-aligned {
  left: 0;
}

.popup--right-aligned {
  right: 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link--light {
  color: #ffffff;
  text-decoration: underline;

  text-decoration-color: #a9bbb1;
}

.link--light:hover,
.link--light:active {
  color: #ffbc9e;

  text-decoration-color: #a7a294;
}

.link--dark {
  color: #323232;
  text-decoration: underline;

  text-decoration-color: #b2b2b2;
}

.link--dark:hover,
.link--dark:active {
  color: #e84d37;

  text-decoration-color: #f9cdc4;
}

.button {
  padding: 10px 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto, "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover {
  color: #fefefe;

  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  outline: none;
  box-shadow: 0 0 0 3px #ffffff,
  0 0 0 6px #f26843;
}

.button-cancel {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.form {
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.form__input {
  width: 220px;
  margin: 10px 0;
  padding: 10px 15px;

  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.page-header {
  padding-top: 8px;
}

.menu {
  position: relative;

  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 0;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  padding-top: 4px;
  padding-left: 1px;
}

.navigation {
  flex-grow: 1;
  margin-right: 10px;
}

.user-action {
  flex-grow: 0;
}

.navigation__list {
  display: flex;
  padding: 0;

  list-style: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.navigation__item {
  position: relative;
  z-index: 10;

  padding: 8px 0;

  border-radius: 20px;
}

.navigation__link {
  padding: 8px 14px;

  border-radius: 20px;
}

.navigation__link--current {
  background-color: #d07058;
  border-bottom: none;
}

.navigation__label {
  border-bottom: 1px solid #adbdb4;
}

.navigation__item:hover .popup {
  visibility: visible;
}

.navigation__item:hover .navigation__link:not(.navigation__link--current) {
  background-color: #f7f6f3;
}

.navigation__item:hover .navigation__label:not(.navigation__label--current) {
  color: #333333;

  border-bottom: none;
}

.navigation__link:not(.navigation__link--current):active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation__link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff,
  0 0 0 6px #f26843;
}

.submenu {
  padding: 0;

  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.submenu__item {
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.submenu__item:first-child {
  margin-top: 0;
  border-radius: 5px 5px 0 0;
}

.submenu__item:last-child {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

.submenu__item--current {
  background-color: #d07058;
}

.submenu__link {
  display: block;
  margin: 0 5px;
  padding: 7px 15px 4px 15px;

  color: #323232;
  white-space: nowrap;
}

.submenu__link--important {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d0ce;
}

.submenu__link:last-child {
  padding-bottom: 10px;
}

.submenu__link--current {
  color: #ffffff;
}

.submenu__item:not(.submenu__item--current):hover {
  background-color: #fbded8;
}

.submenu__item:not(.submenu__item--current):active {
  background-color: #f6b5a5;
}

.user-action__list {
  display: flex;
  align-items: center;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-action__item {
  position: relative;
  z-index: 10;

  margin-left: 10px;

  vertical-align: middle;

  background-color: #a1b4a9;
  border-radius: 20px;
}

.search__link {
  display: block;
  padding: 7px 8px 5px 8px;

  border-radius: 20px;
}

.auth__link {
  display: flex;
  align-items: center;
  padding: 7px 19px 7px 16px;

  border-radius: 20px;
}

.order__link {
  display: flex;
  align-items: center;
  padding: 6px 20px 6px 16px;

  border-radius: 20px;
}

.auth__link::after {
  content: "Вход";

  padding-left: 6px;
}

.order__link--empty::after {
  content: "Пусто";

  padding-left: 6px;
}

.order__link--full::after {
  content: "2 товара";

  padding-left: 10px;
}

.search:hover,
.auth:hover,
.order--full {
  background-color: #ffffff;
}

.search__link:focus,
.auth__link:focus,
.order__link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff,
  0 0 0 6px #f26843;
}

.search:hover .search__link,
.auth:hover .auth__link,
.order__link--full {
  color: #323232;

  background-color: #f8f7f4;
}

.search:hover .popup,
.auth:hover .popup,
.order--full:hover .popup {
  visibility: visible;
}

.search .search__icon,
.auth .auth__icon {
  fill: #ffffff;
}

.user-action__item:hover .search__icon,
.user-action__item:hover .auth__icon {
  fill: #343434;
}

.order__link--full .order__icon--stroke {
  fill: #343434;
}

.order__link--full .order__icon--fill {
  fill: #e84d37;
}

.order__link--empty .order__icon--stroke {
  fill: #ffffff;
}

.order__link--empty .order__icon--fill {
  fill: transparent;
}

.form__input--search {
  width: 300px;
}

.auth__submit-wrapper {
  display: flex;
  margin: 10px 0;
}

.auth__submit-button {
  padding-right: 25px;
  padding-left: 25px;

  border-radius: 25px;
}

.auth__help-wrapper {
  margin-left: 12px;

  vertical-align: center;
}

.auth__help-link {
  display: inline-block;
  margin: 0 10px;

  font-size: 13px;
  line-height: 24px;
}

.order__table {
  z-index: 100;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding-bottom: 20px;
}

.order__item {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
}

.order__image {
  width: 33px;
  height: 33px;

  vertical-align: center;
}

.order__name {
  min-width: 218px;
  padding-left: 10px;
  word-wrap: break-word;
}

.order__weight {
  padding-left: 25px;
  min-width: 96px;
}

.order__extra {
  color: #999999;
}

.order__price {
  padding-left: 25px;
  min-width: 50px;
}

.order__total {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.order__submit {
  text-align: right;
}

.menu__extra {
  position: absolute;
  top: 67px;
  right: 0;

  width: 170px;
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.menu__extra .open-hours {
  margin: 0 0 5px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.menu__extra .phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.slider {
  position: relative;
  z-index: 1;

  margin-bottom: 52px;
}

.slider__list {
  padding: 0;

  list-style: none;
}

.slider__item {
  text-align: center;
}

.slider__image {
  position: absolute;
  top: -89px;
  left: 50%;
  z-index: 0;

  transform: translateX(-50%);
}

.slider__lead {
  position: relative;
  z-index: 10;

  width: 700px;
  margin: 0 auto;
  padding-top: 302px;
  padding-bottom: 40px;

  font-weight: 600;
  font-size: 60px;
  line-height: 60.35px;
}

.slider__link {
  position: relative;
  z-index: 10;

  padding: 13px 40px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px #a0200b;
}

.slider__item:nth-child(2) {
  display: none;
}

.slider__item:nth-child(3) {
  display: none;
}

.slider-switcher {
  display: none;
}

.slider__controls {
  position: absolute;
  bottom: 8px;
  text-align: center;
}

.slider__control {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider__control:hover {
  background-color: #b2c1b7;
}

.slider__control:active {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 50px;
}

.promo__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.promo__item {
  z-index: 3;

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 198px;
  padding: 16px 19px;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
}

.promo__item--raspberry {
  margin-right: 10px;

  background-color: #d15872;
  background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
  margin-left: 10px;

  background-color: #6e422a;
  background-image: url("../img/chocolate.jpg");
}

.promo__title {
  margin: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  min-height: 66px;
  margin-top: 15px;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo__link {
  align-self: flex-end;
}

.popular__list,
.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.product__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width: 25%;

  text-align: center;
}

.product__item--hit::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background: #ffffff url("../img/hit.svg") no-repeat center;
  border-radius: 50%;
}

.product__item:hover .product__button {
  visibility: visible;
}

.product__item:hover {
  box-shadow: 0 15px 25px 3px #56645c;
}

.product__image {
  border-radius: 50%;
}

.product__price {
  position: absolute;
  top: 165px;
  left: 0;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.product__price span {
  font-size: 30px;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.product__link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f26843;
}

.product__button {
  visibility: hidden;
}

.about {
  margin: -53px 0 20px 0;
  padding-left: 20px;
  color: #323232;

  background: #eee0c4 url("../img/waffle.jpg") repeat center;
  border-radius: 15px;
}

.about__title {
  padding-top: 25px;
  
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature__item {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  padding: 0 20px 22px 58px;

  font-size: 16px;
  line-height: 22px;
}

.feature__item:nth-child(even) {
  padding-right: 18px;
}

.feature__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;
}

.feature__item--ice-cream::before {
  background: url("../img/ice_cream.svg") no-repeat;
}

.feature__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.feature__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.feature__item--thermo::before {
  background: url("../img/thermometer.svg") no-repeat;
}

.blog {
  display: flex;
  justify-content: space-between;
  height: 220px;
  margin: 42px 0;
}

.news,
.subscribe {
  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}

.news {
  margin-right: 13px;

  background-image: url("../img/strawberry.jpg");
}

.new__wrapper {
  width: 290px;
  margin: 18px 20px;
}

.new__subtitle {
  margin: 5px 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  background-color: rgba(255, 255, 255, 0.8);
}

.subscribe {
  margin-left: 13px;

  background-image: url("../img/bg-post.svg");
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 210px;
  margin: 5px;
  padding: 0 21px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe__info {
  margin-top: 30px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe__form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 430px;
  margin: 20px 0;

  background: #ece5c8 url("../img/map.png") no-repeat center;
}

.map::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 270px;

  width: 80px;
  height: 140px;

  background: transparent url("../img/pin.svg") no-repeat;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 25px;
  width: 260px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 20px;
}

.contacts__address,
.contacts__phone {
  margin: 10px 0;
}

.contacts__desc {
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts__data {
  margin:0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.feedback__button {
  padding-left: 30px;
  padding-right: 30px;
}

.feedback__modal {
  visibility: hidden;
}

.feedback__btn {
  width: 251px;
  height: 43px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  border: none;
}

.page-footer__nav {
  display: flex;
  justify-content: space-between;
}

.social__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 10px;
  font-size: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255,255,255, 0.5);
}

.social__item:hover,
.social__item:active {
  border-color: rgba(255,255,255, 0.7);
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #ffffff;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link:hover,
.social__link:active {
  opacity: 1;
}

.social__link--twit {
  background-image: url(../img/twitter.svg);
}

.social__link--inst {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.info__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 45px;
  padding: 0;
  padding: 0;

  list-style: none;
}

.info__item {
  display: block;
  margin-right: 25px;
}

.info__link {
  font-size: 13px;
  line-height: 18px;
}

.info__link--important {
  font-weight: 700;
  position: relative;
}

.info__link--important::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 13px;
  background:url("../img/heart.svg") no-repeat center;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright__text {
  margin: 0;
}

.catalog__title{
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0;
}

.crumbs__list {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.crumbs__item {
  margin-right: 20px; 
  display: inline-block;
}

.filter {
  font-size: 16px;
  line-height: 18px;
}

.filter__group {
  display: inline-block;
}

.filter__title {
  font-size: 14px;
  line-height: 16px;
}

.pagination__list {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.pagination__item {
  display: inline-block;
}