body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

.page-container {
  max-width: 1147px;
  min-width: 860px;
  margin: 0 auto;
  padding: 8px 2.2%;
}

.slider-switcher {
  display: none;
}

.visually-hidden {
  font-size: 0;
  visibility: hidden;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
}

.button:hover {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px 0px #952718;
}

.link-light {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.link-light:hover,
.link-light:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.link-dark {
  text-decoration: none;
  color: #323232;
  border-bottom: 2px solid #353535;
}

.link-dark:hover,
.link-dark:active {
  color: #e84d37;
  border-bottom: 2px solid #f9cdc4;
}

.page-header {
  position: relative;
  display: flex;
  align-items: center;
}

.page-header__logo {
  width: 154px;
  height: 64px;
  flex-grow: 0;
}

.page-header__nav {
  flex-grow: 1;
  z-index: 3;
}

.page-header__extra {
  position: absolute;
  top: 65px;
  right: 0;
  width: 170px;
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.page-header__extra .open-hours {
  margin: 0 0 5px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.page-header__extra .phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.menu__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.menu__item {
  position: relative;

  padding: 8px 15px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  border-radius: 20px;
}

.menu__item:hover {
  color: #333333;

  background-color: #f7f6f3;
}

.menu__item:hover .menu__link {
  border-bottom: none;
}

.menu__item:hover .submenu__list {
  visibility: visible;
}

.menu__item:active {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0 3px 1px 0 #696969;
}

.menu__item:active .menu__link {
  border-bottom: none;
}

.menu__link {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px dashed white;
}

.submenu__list {
  position: absolute;
  top: 100%;
  left: -5px;

  padding: 0;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 15px 25px 3px #56645c;
  visibility: hidden;
  z-index: 1;
}

.submenu__item:hover {
  background-color: #fbded8;
}

.submenu__item:first-child:hover {
  border-radius: 5px 5px 0 0;
}

.submenu__item:last-child:hover {
  border-radius: 0 0 5px 5px;
}

.submenu__item:active {
  background-color: #f6b5a5;
}

.submenu__link {
  display: block;
  margin: 0 5px;
  padding: 9px 15px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.submenu__link--novelity {
  font-weight: bold;

  border-bottom: 1px solid #d1d0ce;
}

.action__list {
  display: flex;
  flex-grow: 0;
  list-style: none;
}

.action__item {
  z-index: 3;
  display: block;
  position: relative;

  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 15px;

  font-size: 14px;
  line-height: 16px;

  border-radius: 20px;

  background-color: #a1b4a9;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.action__item:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.action__item:hover .popup {
  visibility: visible;
}

.action__item--search {
  font-size: 0;
  margin-left: 0;
  background-position: center;
  background-image: url("../img/search.svg");
}

.action__item--search:hover {
  background-image: url("../img/search_black.png");
}

.action__item--auth {
  background-image: url("../img/auth.svg");
}

.action__item--auth:hover {
  background-image: url("../img/auth_black.svg");
}

.action__item--cart {
  margin-right: 0;
  background-image: url("../img/cart.svg");
}

.action__item--cart:hover {
  background-image: url("../img/cart_red.svg");
}

.action__link {
  padding-left: 33px;
  color: inherit;
  text-decoration: none;
}

.action__link--search {
  padding-left: 0;
}

.popup {
  visibility: hidden;
}

.popup__form,
.popup__table {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 0 15px 25px 3px #56645c;
  z-index: 1;
}

.popup__form--search {
  width: 312px;
  height: 46px;
  right: 50%;
}

.popup__form--auth {
  width: 248px;
  height: 176px;
  right: 0;
}

.popup__table--cart {
  width: 540px;
  height: 245px;
  right: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.popup__input--text {
  padding: 10px 15px;

  vertical-align: middle;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
}

.popup__input--btn {
  width: 102px;
  height: 46px;
  font-family: Roboto, sans-serif;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border-radius: 20px;
  border: none;
}

.popup__aside {
}

.popup__aside--help-link {
  display: block;
}

.slider__list {
  padding: 0;
  list-style: none;
}

.slider__item {
  position: relative;
  height: 520px;
}

.slider__image {
  position: absolute;
  top: -90px;
  left: 52px;
  z-index: 1;
}

.slider__lead {
  position: absolute;
  top: 242px;
  left: 223px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 600;
  text-align: center;
  width: 700px;
  z-index: 2;
}

.slider__link {
  position: absolute;
  top: 453px;
  left: 433px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  width: 279px;
  height: 54px;
  padding-top: 8px;
  text-shadow: 0px 2px 5px #e74b36;
  z-index: 2;
}

.slider__item:nth-child(2) {
  display: none;
}

.slider__item:nth-child(3) {
  display: none;
}

.promo {
  margin-top: 20px;
}

.promo__list {
  display: flex;

  list-style: none;
  padding: 0;
}

.promo__item {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  height: 198px;
  width: 50%;
  padding: 16px 19px;
  z-index: 3;
}

.promo__item--raspberry {
  margin-right: 10px;
  background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
  margin-left: 10px;
  background-image: url("../img/chocolate.jpg");
}

.promo__title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 0;
}

.promo__text {
  margin-top: 15px;
  margin-bottom: 25px;
  min-height: 66px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
}

.promo__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  width: 167px;
  height: 35px;
  padding-top: 10px;
  align-self: flex-end;
}

.popular__list,
.product__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.product__item {
  width: 25%;
  text-align: center;
}

.product__image {
  border-radius: 50%;
}

.product__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product__btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  border: none;
  width: 200px;
  height: 44px;
}

.about {
  color: #323232;
  border-radius: 20px;
  background: #eee0c4 url("../img/waffle.jpg") repeat center;
  margin: 20px 0;
}

.about__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.feature__item {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  width: 50%;

  box-sizing: border-box;
  padding: 11px 5px 11px 78px;
}

.feature__item:nth-child(even) {
  padding-right: 18px;
}

.feature__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  top: 0px;
  left: 20px;
}

.feature__item--ice-cream::before {
  background: url("../img/ice_cream.svg") no-repeat;
}

.feature__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.feature__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.feature__item--thermo::before {
  background: url("../img/thermometer.svg") no-repeat;
}

.blog {
  display: flex;
}

.news,
.subscribe {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  border-radius: 15px;
  height: 190px;
  width: 50%;
  padding: 16px 19px;
  margin: 20px 0;
}

.news {
  margin-right: 10px;
  background-image: url("../img/strawberry.jpg");
}

.new__wrapper {
  width: 290px;
}

.new__subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
  margin: 5px 0;
}

.new__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.subscribe {
  margin-left: 10px;
  background-image: url("../img/bg-post.svg");
}

.subscribe__wrapper {
  padding: 20px 20px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe__info {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.map {
  position: relative;
  margin: 20px 0;
  padding: 0;
}

.map::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 140px;
  top: 100px;
  left: 200px;
}

.contacts {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 300px;
  height: 300px;
  background-color: #fefefe;
  border-radius: 20px;
  color: #323232;
}

.contacts__address,
.contacts__phone {
  font-size: 14px;
  line-height: 20px;
}

.contacts__address b,
.contacts__phone b {
  font-size: 18px;
  line-height: 24px;
}

.feedback__modal {
  visibility: hidden;
}

.feedback__btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  border: none;
  width: 251px;
  height: 43px;
}

.page-footer {
  display: flex;
}

.social__list,
.info__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.social__item {
  font-size: 0;
  margin: 5px;
}

.social__link {
  display: block;
  width: 37px;
  height: 37px;
  text-decoration: none;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--twit {
  background-image: url(../img/twitter.svg);
}

.social__link--inst {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.info__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

.copyright__link {
  font-size: 12px;
  line-height: 18px;
}
