body {
  margin: 0;
  padding: 0;
}

.page {
  height: auto;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.page-container {
  min-width: 860px;
  max-width: 1147px;
  margin: 0 auto;
  padding: 8px 2.2%;
}

/*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff,
  0 0 0 6px #f26843;
}*/

.slider-switcher {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  padding: 10px 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto, "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover {
  color: #fefefe;

  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.link-light {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid #a9bbb1;
}

.link-light:hover,
.link-light:active {
  color: #ffbc9e;

  border-bottom: 1px solid #a7a294;
}

.link-dark {
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid #b2b2b2;
}

.link-dark:hover,
.link-dark:active {
  color: #e84d37;

  border-bottom: 1px solid #f9cdc4;
}

.page-header {
  position: relative;

  display: flex;
  align-items: center;
}

.page-header__logo {
  flex-grow: 0;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.page-header__nav {
  z-index: 3;

  flex-grow: 1;
}

.page-header__extra {
  position: absolute;
  top: 70px;
  right: 0;

  width: 170px;
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.page-header__extra .open-hours {
  margin: 0 0 5px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.page-header__extra .phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.menu__list {
  display: flex;
  padding: 0;

  list-style: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.menu__item {
  position: relative;

  padding-top: 8px;
  padding-bottom: 13px;

  border-radius: 20px 0;
}

.menu__item:hover .menu__link{
  color: #333333;

  background-color: #f7f6f3;
  border-bottom: none;
}

.menu__item:hover .menu__link span {
  border: none;
}

.menu__item:hover .submenu__list {
  visibility: visible;
}

.menu__link {
  padding: 8px 15px;

  color: inherit;
  text-decoration: none;

  border-radius: 20px;
}

.menu__link span {
  border-bottom: 1px solid #adbdb4;
}

.menu__link:active {
  color: #333333;

  background-color: #ededed;
  border-bottom: none;
  box-shadow: inset 0 3px 1px 0 #696969;
}

.submenu__list {
  position: absolute;
  top: 100%;
  left: -5px;
  z-index: 1;

  padding: 0;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 15px 25px 3px #56645c;
  visibility: hidden;
}

.submenu__item:hover {
  background-color: #fbded8;
}

.submenu__item:first-child:hover {
  border-radius: 5px 5px 0 0;
}

.submenu__item:last-child:hover {
  border-radius: 0 0 5px 5px;
}

.submenu__item:active {
  background-color: #f6b5a5;
}

.submenu__link {
  display: block;
  margin: 0 5px;
  padding: 9px 15px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.submenu__link--novelity {
  font-weight: bold;

  border-bottom: 1px solid #d1d0ce;
}

.page-header__actions {
  display: flex;
  flex-grow: 0;

  font-size: 14px;
  line-height: 16px;
}

.action {
  position: relative;
  z-index: 3;

  margin-left: 10px;

  background-color: #a1b4a9;
  background-repeat: no-repeat;
  background-position: 18px center;
  border-radius: 20px;
}

.action:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.action:hover .popup {
  visibility: visible;
}

.action__search {
  background-image: url("../img/search.svg");
  background-position: center;
}

.action__search:hover {
  background-image: url("../img/search_black.png");
}

.action__auth {
  background-image: url("../img/auth.svg");
}

.action__auth:hover {
  background-image: url("../img/auth_black.svg");
}

.action__cart {
  background-image: url("../img/cart.svg");
}

.action__cart:hover {
  background-image: url("../img/cart_red.svg");
}

.action__link {
  display: inline-block;
  padding: 8px 17px 7px 45px;

  color: inherit;
  text-decoration: none;

  border-radius: 20px;
}

.action__link--text-hidden {
  padding-left: 15px;

  font-size: 0;
}

.popup {
  position: absolute;
  top: 100%;

  padding-top: 5px;
  box-shadow: 0 15px 25px 3px #56645c;
  visibility: hidden;
}

.popup__search {
  right: 50%;
}

.popup__auth,
.popup__cart {
  right: 0;
}

.form,
.order {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.form__input {
  margin: 10px 0;

  padding: 10px 15px;

  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 220px;
}

.submit {
  margin: 10px 0;
  display: flex;
}

.enter-button {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__aside {
  vertical-align: center;
  margin-left: 12px;
}

.popup__aside--help-link {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.popup__table--cart {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.order {
  font-size: 13px;
  line-height: 16px;
}

.order__row {
  padding: 20px;
  border: 1px solid black;
}

.order__delete {
  border: none;
}

.order__image {
  width: 33px;
  height: 33px;
  vertical-align: center;
}

.order__name {
  min-width: 218px;

  word-wrap: break-word;
}

.order__weight {
  min-width: 96px;
}

.order__price {
  min-width: 50px;
}

.foot_row {
  text-align: right;
}
.total {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.order__submit {
}

.slider__list {
  padding: 0;

  list-style: none;
}

.slider__item {
  position: relative;

  height: 520px;
}

.slider__image {
  position: absolute;
  top: -90px;
  left: 52px;
  z-index: 1;
}

.slider__lead {
  position: absolute;
  top: 242px;
  left: 223px;
  z-index: 2;

  width: 700px;

  font-weight: 600;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.slider__link {
  position: absolute;
  top: 453px;
  left: 433px;
  z-index: 2;

  width: 279px;
  height: 54px;
  padding: 8px 0 0 0;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px #e74b36;
}

.slider__item:nth-child(2) {
  display: none;
}

.slider__item:nth-child(3) {
  display: none;
}

.promo {
  margin-top: 35px;
}

.promo__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.promo__item {
  z-index: 3;

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 198px;
  padding: 16px 19px;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
}

.promo__item--raspberry {
  margin-right: 10px;
  background-color: #d15872;
  background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
  margin-left: 10px;
  background-color: #6e422a;
  background-image: url("../img/chocolate.jpg");
}

.promo__title {
  margin: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  min-height: 66px;
  margin-top: 15px;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo__link {
  align-self: flex-end;
}

.popular {
  margin-top: 40px;
}

.popular__list,
.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.product__item {
  position: relative;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

.product__item--hit::before {
  content: "";
  position: absolute;
  background: #ffffff url("../img/hit.svg") no-repeat center;
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.product__item:hover .button-hidden {
  visibility: visible;
}

.product__item:hover {
  box-shadow: 0 15px 25px 3px #56645c;
}

.product__image {
  border-radius: 50%;
}

.product__price {
  position: absolute;
  top: 165px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.product__price span {
  font-size: 30px;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.button-hidden {
  visibility: hidden;
}

.about {
  margin: -53px 0 20px 0;
  padding-left: 20px;
  color: #323232;

  background: #eee0c4 url("../img/waffle.jpg") repeat center;
  border-radius: 15px;
}

.about__title {
  padding-top: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature__item {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  padding: 0px 20px 22px 58px;

  font-size: 16px;
  line-height: 22px;
}

.feature__item:nth-child(even) {
  padding-right: 18px;
}

.feature__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;

  display: block;
  width: 49px;
  height: 49px;
}

.feature__item--ice-cream::before {
  background: url("../img/ice_cream.svg") no-repeat;
}

.feature__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.feature__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.feature__item--thermo::before {
  background: url("../img/thermometer.svg") no-repeat;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin: 42px 0;
  height: 220px;
}

.news,
.subscribe {
  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}

.news {
  margin-right: 13px;
  background-image: url("../img/strawberry.jpg");
}

.new__wrapper {
  margin: 18px 20px;
  width: 290px;
}

.new__subtitle {
  margin: 5px 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.subscribe {
  margin-left: 13px;
  background-image: url("../img/bg-post.svg");
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 0 21px;
}

.subscribe__info {
  margin-top: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe__form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.map {
  position: relative;

  margin: 20px 0;
  padding: 0;
}

.map::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 200px;

  display: block;
  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  top: 120px;
  right: 20px;

  width: 300px;
  height: 300px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 20px;
}

.contacts__address,
.contacts__phone {
  font-size: 14px;
  line-height: 20px;
}

.contacts__address b,
.contacts__phone b {
  font-size: 18px;
  line-height: 24px;
}

.feedback__modal {
  visibility: hidden;
}

.feedback__btn {
  width: 251px;
  height: 43px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  border: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.info__list  {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 320px;
  padding: 0;
  border: 1px solid black;
  padding: 0;

  list-style: none;
}

.info__item {
  display: inline-block;
  border: 1px solid black;
  margin: auto;
}

.social__list {
  display: flex;
  padding: 0;
  width: 33.3%;
  list-style: none;
}

.social__item {
  margin: 5px;

  font-size: 0;
}

.social__link {
  display: block;
  width: 37px;
  height: 37px;

  color: #ffffff;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--twit {
  background-image: url(../img/twitter.svg);
}

.social__link--inst {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.info__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.page-footer__copyright {
  width: 33.3%;
}

.copyright__link {
  font-size: 12px;
  line-height: 18px;
}
